nav {
	margin-bottom: 0;
}

nav img {
	image-rendering: pixelated;
	width: 300%;
}

a, a:visited {
	color: var(--color-link);
}

a:not(.selected) {
	text-decoration: none;
}

#genres, #collections {
	margin-bottom: 15px;
}

#genres a:not(:nth-last-of-type(1)):after,
#collections a:not(:nth-last-of-type(1)):after,
#tags a:not(:nth-last-of-type(1)):after {
	content: ',';
	margin-right: 4px;
}

#games {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;
}

#games div {
	background: black;
	padding: 5px;
	margin-bottom: 5px;
	break-inside: avoid-column;
	cursor: pointer;
}

#games div img {
	width: 100%;
}

#games div span {
	display: block;
	text-align: center;
}

#game {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0,0,0,50%);
	display: none;
}

#game.open {
	display: block;
}

#game h1 small {
	float: right;
}

#game > div {
	position: relative;
	max-width: 900px;
	height: 80%;
	top: 10%;
	margin: auto;
	background: var(--color-bg);
	padding: 10px;
}

#game > div img {
	width: 100%;
}

#game > div > p a:not(:nth-last-of-type(1)):after {
	content: ',';
	margin-right: 4px;
}