nav {
	margin-bottom: 0;
}

nav img {
	image-rendering: pixelated;
	width: 300%;
}

#games {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;
}

#games div {
	background: black;
	padding: 5px;
	margin-bottom: 5px;
	break-inside: avoid-column;
}

#games div img {
	width: 100%;
}

#games div span {
	display: block;
	text-align: center;
}